/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 ago. 2020, 14:55:53
    Author     : TBeltran
*/

.root{
    -fx-background-color: #f4f6ff;
}

VBox{
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-spacing: 20;
}

HBox{
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-spacing: 20;
}

BorderPane{
    -fx-alignment: top-center;
    -fx-padding: 20;
}

GridPane{
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-Vgap: 10;
    -fx-Hgap: 30;
}

Label{
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 35;
    -fx-text-fill: #4EBABA;
}

#lblForm{
    -fx-font-size: 20;
}

.text-field, .date-picker > .text-field{
    -fx-alignment: center;
    -fx-pref-width: 300;
    -fx-padding: 5 5 5 5;
    -fx-border-radius: 5;
    -fx-background-color: #ADE3E3 , #DEF7F7 , #DEF7F7;
    -fx-border-color: #ADE3E3;
    -fx-alignment: top-left;
}

.text-field:hover, .date-picker:hover > .text-field, .date-picker > .text-field:hover{
    -fx-background-color: #DEF7F7 , #DEF7F7 , white;
}

.text-field:focused, .date-picker:focused > .text-field, .date-picker > .text-field:focused{
    -fx-background-color: #ADE3E3 , #DEF7F7 , white, white;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-text-alignment: justify;
    -fx-alignment: top-left;
}



#txtJust{
    -fx-alignment: center;
    -fx-pref-width: 300;
    -fx-pref-height: 350;
    -fx-padding: 5 5 5 5;
    -fx-border-radius: 5;
    -fx-background-color: #ADE3E3 , #DEF7F7 , #DEF7F7;
    -fx-border-color: #ADE3E3;
    -fx-alignment: top-left;
}

#txtJust:hover{
    -fx-background-color: #DEF7F7 , #DEF7F7 , white;
}

#txtJust:focused{
    -fx-background-color: #ADE3E3 , #DEF7F7 , white, white;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-text-alignment: justify;
    -fx-alignment: top-left;
}

Button {
    -fx-min-width: 150;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #2E9C9C 0%, #168C8C 100%),
            #2E9C9C,
            #77D5D5,
            radial-gradient(center 50% 50%, radius 100%, #77D5D5, #4EBABA);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

Button:hover{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #2E9C9C 0%, #168C8C 100%),
            #2E9C9C,
            #77D5D5,
            radial-gradient(center 50% 50%, radius 100%, #4EBABA, #2E9C9C);
}

Button:pressed{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
